<a href="https://colab.research.google.com/github/Saswati-Dash/Python-/blob/main/Conditional_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Conditional Statement  : Control the flow of execution of Python .

# Executes the codes as per the given condition .

print("it's raining")
print("it's cold")
print("it's hot")

it's raining
it's cold
it's hot

In [ ]:
n=10

# Calculate the Square of number when it is
# Greater than 100 .
if(n>100):
  r=n*n
  print(r)
print('rest of code')

rest of code

In [ ]:
# IF and Else .

marks=float(input('Enter the Marks'))

if marks>60:
  print('Pass')
else:
  print('Fail')

Enter the Marks78
Pass

In [ ]:
# Program to identfy whether the number is even or odd .

# divisible by 2 --> even not odd .

# %--> calcuates the remainder .

80%2

0

In [ ]:
# == comparison --> LHS to RHS

87==87.23

False

In [ ]:
num=float(input('Enter the number'))

if num%2==0:
  print(num,'is Even')
else:
  print(num,'is odd')

Enter the number84.2
84.2 is odd

In [ ]:
# Program to validate the age of person for casting the vote .

age=int(input('Enter the age'))

if age>=18:
  print('Eligible for casting vote')
else:
  print('Not eligible ')

Enter the age16
Not eligible

In [ ]:
# Grading system :

# >90 --> A
#> 82--> B
# >75--> c
#>65 --> D
# >55 --> E
#<=55--> F

marks = float(input('Enter the marks out of 100'))

if marks>90:
  print('Student grade: A')
elif marks>82:
  print('Student grade: B')
elif marks>75:
  print('Student grade: C')
elif marks >65:
  print('Student grade: D')
elif marks>55:
  print('Student grade: E')
else:
  print('Student grade: F')

Enter the marks out of 10077
Student grade: C

In [ ]:
# Classification of year as Leap year or non leap year .

#leap --> 366 days --> after every 4 year .

# Non leap --> 365 days .

# year%4==0 --> leap year .

#1900%4---> Non Leap year .

# Year ---> 2000,1900,2100,400,1700 divisible by 100 .
# centurian year --> divisible by 400 --> leap year --> not --> non leap year.

# Non centurian --> 1785,1789,2024,2026,2022,2020,1965.
# Divisible by 4 --> leap if not non leap year .

In [ ]:
year= int(input('Enter the Year'))

if year%400==0:
  print(year,'is a leap year')
elif year%100==0:
  print(year,'is non leap year')
elif year%4==0:
  print(year,'is a leap year')
else:
  print(year,'is non leap year')

Enter the Year1700
1700 is non leap year

In [ ]:
1700%4

0

In [ ]:
# Logical Operator : combine multiple condition for evaluation .

# AND --> True(all the condition result are true )

# OR --> True(if any condition turns to be true)

# Identify the number as Positive or negative .

In [ ]:
r=float(input('Enter the Number'))

if r>=0:
  print(r,'is a Postive Number')
else:
  print(r,'is a Negative Number')

Enter the Number5
5.0 is a Postive Number

In [ ]:
# Pass --> Student marks >47 and Attendance >=75.

# Fail --> if not have the required criteria .

marks =float(input('Enter the marks '))
Attendance=float(input('Enter the Attendance'))

if (marks>47 and Attendance>=75):
  print('Pass')
else:
  print('Fail')

Enter the marks 78
Enter the Attendance40
Fail

In [ ]:
# Offers generator for Walmart .

# 20 % ----> cusotmer --> 1500 or 3 or more transaction with walamrt .

# Task : Final amount cusotmer needs to pay ?

Total_amount = float(input('Add the billed amount'))
Repeat_pur= int(input('Enter the Frequency of purchase'))
Membership= input('Enter the Membership status')

if (Total_amount >1500 or Repeat_pur>=3 or Membership=='yes'):
  print('Amount to be paid',Total_amount*0.8)

else :
  print('Amount to be paid',Total_amount)

Add the billed amount100
Enter the Frequency of purchase1
Enter the Membership statusyes
Amount to be paid 80.0

In [ ]:
# Offers generator for Walmart .

# 20 % ----> cusotmer --> 1500 or 3 or more transaction .
# 40% ---> Gold Members
# 17% ---> Customer ---> 1000
# 36% ---> Platnium members .

trans_amount= float(input('Enter the Amount'))
repeat_purchase=int(input('Number of time doing transaction in a month '))
memb=input('Enter the Memeber ship type gold or plat or no')


if memb=="gold":
  print('Amount to be paid',trans_amount*0.6)

elif memb=='plat':
  print('Amount to be paid',trans_amount*0.64)

elif trans_amount>1500 or repeat_purchase>=3:
  print('Amount to be paid',trans_amount*0.8)

elif trans_amount>1000 :
  print('Amount to be paid',trans_amount*0.83)

else:
  print('Amount to be paid',trans_amount)

Enter the Amount990
Number of time doing transaction in a month 2
Enter the Memeber ship type gold or plat or nono
Amount to be paid 990.0

In [ ]:
# Task : Print cubes of number from 1 to 100 .

print(1*1*1)
print(2*2*2)

1
8

In [ ]:
# For Loop : it will take the number of execution as the collection of values .

for x in range(100):
  print('python')

python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python
python

In [ ]:
# Task : print cubes from 1 to 100 .

for i in range(1,101):
  print(i*i*i)

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000