<a href="https://colab.research.google.com/github/Saswati-Dash/Python-/blob/main/Day2_PHY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
annual_ctc=float((input("Enter your annual CTC: ")))
tax = 0.1*annual_ctc
pf = 0.05*annual_ctc
annual_in_hand= annual_ctc-tax-pf
monthly_in_hand = annual_in_hand/12
print("monthly salary",monthly_in_hand)
print("Total Tax",tax)
print("PF deduction" , pf)

Enter your annual CTC: 1200000
monthly salary 85000.0
Total Tax 120000.0
PF deduction 60000.0

In [5]:
# extract hud from thuder

fire = [156, 'Kite' , True ,90.8 , 'Thuder' , 65]
fire[4][1:4]
# [4] for thunder and [1:4]--> from thunder hud

'hud'

In [ ]:
#Dictonary : Helps to manage and store information in a organised way
# helps to define user defined indexes --
# default indexes --> Positive and negative integers
# used to store information in key value pair format
# key - indexes (no duplicate key)
# value - information you want to store
# Syntax : var_name = {k1:v1 ,k2:v2 ,-------kn:vn}

In [6]:
tree = {'a':900, 'b':56,'c':432,'d':900}

In [7]:
tree

{'a': 900, 'b': 56, 'c': 432, 'd': 900}

In [9]:
tree['d']

900

In [10]:
# store Price of 6 product
w_p = [98,241,74,56,38,46]

In [11]:
w_p_d={'Oats':98,'Headphone':241,'Cake':74,'Butter':56,'Honey':38,'Chocolate':46}

In [12]:
w_p_d

{'Oats': 98,
 'Headphone': 241,
 'Cake': 74,
 'Butter': 56,
 'Honey': 38,
 'Chocolate': 46}

In [13]:
w_p_d['Oats']

98

In [14]:
# Create Data using Dictionary

std={'Name':['John','Alex','Henry','Yoda'],'Mark':[78,89,92,61],'Grade':['B','B','A','B']}

In [20]:
std

{'Name': ['John', 'Dev', 'Henry', 'Yoda'],
 'Mark': [78, 89, 92, 61],
 'Grade': ['B', 'B', 'A', 'B']}

In [19]:
std['Name'][1]='Dev'
# to check mutabillity

In [16]:
import pandas

In [21]:
pandas.DataFrame(std)
#table inside pandas is Dataframe

    Name  Mark Grade
0   John    78     B
1    Dev    89     B
2  Henry    92     A
3   Yoda    61     B

In [22]:
w_p.pop(-1) # remove index

46

In [23]:
w_p

[98, 241, 74, 56, 38]

In [24]:
w_p.remove(98) # remove entire element

In [25]:
w_p

[241, 74, 56, 38]

In [ ]:
# set : Unordered collection of unique values

# syntax : {e1,e2,e3,---,en}

In [26]:
s1 = {'Rose',5,4,5,8,7,63.3,63.3,47,58.2,98.5,'Rose'}

In [27]:
s1

{4, 47, 5, 58.2, 63.3, 7, 8, 98.5, 'Rose'}