<a href="https://colab.research.google.com/github/Saswati-Dash/Python-/blob/main/DPP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
annual_ctc=float(input('Enter the annual CTC'))
tax=0.1*annual_ctc
pf=0.05*annual_ctc

annual_in_hand= annual_ctc-tax-pf
Monthly_in_hand= annual_in_hand/12

print("Monthly salary",Monthly_in_hand)
print("Total Tax",tax)
print("PF deductions",pf)

Enter the annual CTC800000
Monthly salary 56666.666666666664
Total Tax 80000.0
PF deductions 40000.0

In [ ]:
#  subtract = 10 % CTC for TAX .

# 1000 ---> 10 % ---> 100

# 1

# 1000 *1 = 1000
#1000*0.9=900
#

1200000.0

In [ ]:
# Regular or positive indexes --> 0 ---> 1.
# first value will be stored at 0 index --> left to right +1
# Reverse or negative indexes ---> -1 ---> -2 .
# End of collection and moves from right to left , decrtementing by 1 .

fire=[156,'Kite',True,90.8,'Thuder',65]

In [ ]:
fire

[156, 'Kite', True, 90.8, 'Thuder', 65]

In [ ]:
fire[-1]

65

In [ ]:
fire[-3]

90.8

In [ ]:
fire[0]

156

In [ ]:
fire[5]

65

In [ ]:
fire[-1]

65

In [ ]:
# slicing
fire[1:4]

['Kite', True, 90.8]

In [ ]:
fire

[156, 'Kite', True, 90.8, 'Thuder', 65]

In [ ]:
fire[4][2]

'u'

In [ ]:
fire[-2][1:4]

'hud'

In [ ]:
# Mutuable data format .

# List

# Dictionary : Helps to manage and store the information in organised way .

# Helps to define user defined indexes ---> ?????
# default indexes ---> Positive and negative intergers .

# used to store information in key value pair format .

# key ---> indexes .(no duplicate keys )
# value --> information .


# Syntax : var_name= {K1:V1,K2:V2------Kn:vn}

In [ ]:
tree={'a':900,78.5:"Apple",'a':432,True:900}

In [ ]:
tree

{'a': 432, 78.5: 'Apple', True: 900}

In [ ]:
tree['a']

900

In [ ]:

tree[78.5][]

'pple'

In [ ]:
tree[True]

900

In [ ]:
# Price of 6 products .

w_p=[98,241,74,56,38,46]

In [ ]:
w_p

[98, 241, 74, 56, 38, 46]

In [ ]:
w_p_d={'Oats':98,'Headphone':241,'Cake':74,'Butter':56,'Honey':38,'Choclates':46}

In [ ]:
w_p_d

{'Oats': 98,
 'Headphone': 241,
 'Cake': 74,
 'Butter': 56,
 'Honey': 38,
 'Choclates': 46}

In [ ]:
w_p_d['Oats']=86

In [ ]:
w_p_d['Honey']

38

In [ ]:
w_p_d

{'Oats': 86,
 'Headphone': 241,
 'Cake': 74,
 'Butter': 56,
 'Honey': 38,
 'Choclates': 46}

In [ ]:
# Data using dictionary .

std={'Name':['John','Alex','Henry','Yoda'],'Marks':[78,89,92,61],'Grade':['B','B','A','C']}

In [ ]:
std

{'Name': ['John', 'Dev', 'Henry', 'Yoda'],
 'Marks': [78, 89, 92, 61],
 'Grade': ['B', 'B', 'A', 'C']}

In [ ]:
std['Name'][1]="Dev"

In [ ]:
import pandas

In [ ]:
pandas.DataFrame(std)

    Name  Marks Grade
0   John     78     B
1    Dev     89     B
2  Henry     92     A
3   Yoda     61     C

In [ ]:
w_p

[98, 241, 74, 56, 38, 46]

In [ ]:
w_p.remove(56) # element itself

In [ ]:
w_p

[98, 241, 74, 38, 46]

In [ ]:
w_p.pop(-1) # index of element

46

In [ ]:
w_p

[98, 241, 74, 38]

In [ ]:
w_p_d

{'Oats': 86,
 'Headphone': 241,
 'Cake': 74,
 'Butter': 56,
 'Honey': 38,
 'Choclates': 46}

In [ ]:
w_p_d.pop('Butter')

56

In [ ]:
w_p_d

{'Oats': 86, 'Headphone': 241, 'Cake': 74, 'Honey': 38, 'Choclates': 46}

In [ ]:
w_p.remove(241)

In [ ]:
w_p

[98, 74, 38]

In [ ]:
w_p

[98, 74, 98, 38]

In [ ]:
# Set : Unordered collection of unique values .

# syntax: {e1,e2,e3,e4,e5,e6}

s1={'Rose',5,4,5,8,7,63.2,65.3,47,58.2,98.5,'Rose'}

In [ ]:
s1

{4, 47, 5, 58.2, 63.2, 65.3, 7, 8, 98.5, 'Rose'}

In [ ]:
# Brackets :

# LIST=[]
#Tuple=()
# Dictionary={k:v}
#set={E1,E2}