<a href="https://colab.research.google.com/github/Saswati-Dash/Python-/blob/main/py5-Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Looping :-
# -> Accessing the element from collection 1 by 1
fly = ['Rose',58,96.34,True,78.25,35]


for i in fly:
  print(i)

Rose
58
96.34
True
78.25
35

In [2]:
t = 'Thunder'
for i in t:
  print(i)

T
h
u
n
d
e
r

In [3]:
r=[345,789,1090,2500,50,187]

# 23 % discount of all the prices in the list

for i in r:
  print(i*0.77)

265.65000000000003
607.53
839.3000000000001
1925.0
38.5
143.99

In [4]:
c=[345,789,1090,2500,50,187]


# all product greater then
# >1500 - 32% discount
# >800 - 20%
# >300 - 15%
# >100 - 10%

for i in c:
  if i>1500:
    print(i*0.68)
  elif i>800:
    print(i*0.8)
  elif i>300:
    print(i*0.85)
  elif i>100:
    print(i*0.9)
  else:
    print(i)

293.25
670.65
872.0
1700.0000000000002
50
168.3

In [9]:
x = [10,45,34]
# append -  add the element at the end of the list
x
x.append(96)
x

[10, 45, 34, 96]

In [12]:
c=[345,789,1090,2500,50,187]

# blank list d_p is created and al the result are stored in d_p using append
d_p=[]

for i in c:
  if i>1500:
    d_p.append(i*0.68)
  elif i>800:
    d_p.append(i*0.8)
  elif i>300:
    d_p.append(i*0.85)
  elif i>100:
    d_p.append(i*0.9)
  else:
    d_p.append(i)

In [13]:
d_p

[293.25, 670.65, 872.0, 1700.0000000000002, 50, 168.3]

In [14]:
# While Loop :- Conditional loop

# Looping - executes all the task till the condition remain true
# Termination --> conditions turns to be false
# instruction --> additional instruction is to be given to terminate while loop

# Print python in screen for 5 times
q = 1 # -- this is intiallization
while q<5:
  print('Python',q)
  q=q+1 # -- this is additional instruction

Python 1
Python 2
Python 3
Python 4

In [ ]:
 # Control Statement

 # Break : it will the terminate the loop as per the requirement
 # Continue : when condition meet it skip the task
 # Pass : used for creating up the empty logic section

In [16]:
fly = ['Rose',58,96.34,True,78.25,35]
for a in fly :
  if a==96.34:
    break
  print(a)

Rose
58

In [17]:
# Login platform
pass_word_kb= ['34521','90873','56241']
insert_pass=input('Enter the password')

for i in pass_word_kb:
  if i == insert_pass:
    print('You have entered correct password')
    break
  print('Incorrect password')

Enter the password23456
Incorrect password
Incorrect password
Incorrect password

In [19]:
for a in fly :
  if a==True or a=='Rose':
    continue # it will skip the True & Rose
  print(a)

58
96.34
78.25
35

In [20]:
for i in range(1,1000):
  pass # task will be added later . but code will run without error